{{- partial "structured_data.html" . -}}

{{- $hasMath := false -}}
{{- if .IsPage -}}
  {{- if or (gt (len (findRE "\\$[^\\$]+\\$" .RawContent)) 0) (gt (len (findRE "\\\\\\(" .RawContent)) 0) (gt (len (findRE "\\\\\\[" .RawContent)) 0) -}}
    {{- $hasMath = true -}}
  {{- end -}}
{{- end -}}
{{- if $hasMath -}}
<script>
    MathJax = {
        tex: {
            inlineMath: [
                ['$', '$'],
                ['\\(', '\\)'],
            ],
        },
        svg: {
            fontCache: 'global',
        },
    };
</script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
{{- end -}}
